.checkbox {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox_disabled {
  opacity: 0.5;
  cursor: default;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox__icon {
  pointer-events: none;
}

:global([data-theme='dark']) .checkbox__icon {
  filter: brightness(0) invert(1);
}

.checkbox__input:focus-visible + .checkbox__icon {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
  border-radius: 6px;
}

.checkbox__label {
  letter-spacing: 2%;
}
